/* keyword 컨테이너 중앙 배치 */
.keyword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* keyword 각 줄 정렬 */
.keyword-row {
  justify-content: center;
  margin: 10px 0;
}

/* 각 keyword 정렬 및 애니메이션 반복하기 설정 */
.keyword {
  display: inline-block;
  margin: 0 20px;
  padding: 10px 20px;
  animation: float 2.5s ease-in-out infinite; /* 애니메이션을 2.5초 동안 'ease-in-out' 방식으로 무한 반복 */
}

/* keyword가 위아래로 움직이는 애니메이션 */
@keyframes float {
  0%,
  100% {
    /* 애니메이션 시작과 끝 위치 */
    transform: translateY(0);
  }
  50% {
    /* keyword가 위로 20px까지 이동 */
    transform: translateY(-20px);
  }
}
